<div class="bullets">
	{% for post in site.posts %}
	<div class="bullet two-col-bullet">
		<div class="bullet-icon">
			<a href="{{ site.url }}{{ post.url }}">
				{% if post.image.teaser %}<img src="{{ site.url }}{{ post.image.teaser }}" alt="teaser" itemprop="image">
				    {% else %}<img src="{{ site.url }}/images/{{ site.teaser }}" alt="teaser" itemprop="image">{% endif %}</a>
			</a>
		</div><!-- /.bullet-icon -->
		<div class="bullet-content">
			<h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
			{% if post.date %}<p class="entry-date date published"><time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>{% endif %}
			<p>{{ post.excerpt | remove: '<p>' | remove: '</p>'}}</p>
		</div><!-- /.bullet-content -->
	</div><!-- /.bullet -->
	{% endfor %}
</div><!-- /.bullets -->