.hero-container {
    background: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(255, 255, 255, 0)), url(../images/hero-img.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    height: 100vh;
    margin-bottom: 5em;
    .logo-run {
        max-width: 60px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .intro-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        text-transform: uppercase;
        a {
            color: #fff;
            font-weight: 100;
            font-family: "lato", sans-serif;
            letter-spacing: .1em;
            margin: 0;
            font-size: 48px;
            float: none;
            display: inline;
            width: auto;
            height: auto;
            line-height: inherit;
            padding: 0;
        }
        p {
            color: #e0e0e0;
            font-weight: 200;
            font-family: "lato", sans-serif;
            margin: 0;
            font-size: 16px;
            letter-spacing: .05em;
        }
    }
}