.site-intro {
    text-align: center;
    background: #fafafa;
    @include clearfix;
    padding: 5em $gutter;
    .inner-wrapper {
        @include media($medium) {
            @include span-columns(8);
            @include shift(2);
        }
    }
    h1, h5 {
        text-transform: uppercase;
        font-family: "lato", serif;
    }
}
.latest-posts {
    padding: 5em 0;
    h1 {
        text-transform: uppercase;
        font-family: "lato", serif;
        text-align: center;
    }
}