---
layout: default
---

<div id="main" role="main">
	{% if page.image.feature %}
	<div class="page-feature">
		<div class="page-image">
			<img src="{{ site.url }}{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
			{% if page.image.credit %}{% include image-credit.html %}{% endif %}
		</div><!-- /.page-image -->
	</div><!-- /.page-feature -->
	{% endif %}
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% include breadcrumbs.html %}
		<div class="page-title">
			<h1>{{ page.title }}</h1>
			{% if page.introduction %}
			<div class="post-introduction">
				<p>{{ page.introduction }}</p>
			</div>
			{% endif %}
            <div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- desolaterunner top ad -->
                <ins class="adsbygoogle"
                     style="display:block;margin-bottom:24px"
                     data-ad-client="ca-pub-7422617776453761"
                     data-ad-slot="2201292285"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
		</div>
		<div class="inner-wrap">
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
                {% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
				<footer class="page-footer">
					{% if page.categories %}{% include page-author.html %}{% endif %}
					<div class="social-links">
						{% if page.share != false %}{% include share-this.html %}{% endif %}
					</div>
					{% include page-meta.html %}
					<ul class="tags-display">
					  {% for tags in page.tags %}
					    <li>
					    <a href="{{ site.url }}/journal/tags/#{{ tags }}">{{ tags }}</a></li>
					  {% endfor %}
					</ul>
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
	</article><!-- ./wrap -->
</div><!-- /#main -->
